<script src="wp-content/themes/unitingcare/js/vendor/jquery-3.3.1.min3d36.js?ver=3.3.1" id="jquery-js"></script>
<script src="wp-content/themes/unitingcare/js/outdatedbrowser.min.js"></script>
<script src="wp-includes/js/comment-reply.min9704.js?ver=6.7.1" id="comment-reply-js" async
    data-wp-strategy="async"></script>
<script src="wp-content/themes/unitingcare/js/vendor/jquery-migrate-3.0.1.min41fe.js?ver=3.0.1"
    id="migrate-js"></script>
<script src="wp-content/themes/unitingcare/js/plugins68b3.js?ver=1" id="plugins-js"></script>
<script src="wp-content/themes/unitingcare/js/appf269.js?ver=1.0.1" id="app-js"></script>
<script src="wp-includes/js/dist/dom-ready.min5346.js?ver=f77871ff7694fffea381" id="wp-dom-ready-js"></script>
<script src="wp-includes/js/dist/hooks.min4fdd.js?ver=4d63a3d491d11ffd8ac6" id="wp-hooks-js"></script>
<script src="wp-includes/js/dist/i18n.minc33c.js?ver=5e580eb46a90c2b997e6" id="wp-i18n-js"></script>
<script id="wp-i18n-js-after">
    wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
</script>
<script defer='defer' src="wp-content/plugins/gravityforms/js/jquery.json.min5b0a.js?ver=2.9.0"
    id="gform_json-js"></script>
<script defer='defer' src="wp-content/plugins/gravityforms/js/gravityforms.min5b0a.js?ver=2.9.0"
    id="gform_gravityforms-js"></script>
<script defer='defer' src="wp-content/plugins/gravityforms/js/placeholders.jquery.min5b0a.js?ver=2.9.0"
    id="gform_placeholder-js"></script>
<script defer='defer'
    src="wp-content/plugins/gravityforms/assets/js/dist/utils.min2edc.js?ver=f802885f3482236736b18b55abcdc360"
    id="gform_gravityforms_utils-js"></script>
<script defer='defer'
    src="wp-content/plugins/gravityforms/assets/js/dist/vendor-theme.minf8d2.js?ver=ddd2702ee024d421149a5e61416f1ff5"
    id="gform_gravityforms_theme_vendors-js"></script>
<script src="wp-content/plugins/gravityformsrecaptcha/js/frontend.minaff7.js?ver=1.6.0"
    id="gforms_recaptcha_frontend-js"></script>

<header id="top-bar" class="top-bar outer-row">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="grid-x cell align-justify align-middle">
                <h1 class="site-logo" style="color: white; font-size: xx-large;"><b style="width: 342px;
                display: inline-block;">Uniting<i>Care</i> Health</b>
                </h1>
                <div class="grid-x cell shrink align-justify align-middle">
                    <button type="button" class="menu-button menu-button--closed js-menu-trigger hide-for-large">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <nav class="top-bar__navigation show-for-large">
                        <ul id="menu-primary-navigation" class="menu">
                            <li id="menu-item-468"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-468">
                                <a href="/about-us">About<i class="far fa-angle-down"></i></a>
                                <!-- <ul class="sub-menu">
<li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a href="#">Who we are</a></li>
<li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470"><a href="#">Our people</a></li>
<li id="menu-item-471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471"><a href="#">Our network</a></li>
<li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472"><a href="#">Our church</a></li>
</ul> -->
                            </li>
                            <li id="menu-item-473"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-473">
                                <a href="/advocacy">Advocacy<i class="far fa-angle-down"></i></a>
                                <!-- <ul class="sub-menu">
<li id="menu-item-1136" class="menu-item menu-item-type-post_type menu-item-object-uc_advocacy menu-item-1136"><a href="advocacy-post/justice-for-first-peoples/index.html">Justice for First Peoples</a></li>
<li id="menu-item-1133" class="menu-item menu-item-type-post_type menu-item-object-uc_advocacy menu-item-1133"><a href="advocacy-post/ageing-to-our-full-potential/index.html">Ageing to our Full Potential</a></li>
<li id="menu-item-1134" class="menu-item menu-item-type-post_type menu-item-object-uc_advocacy menu-item-1134"><a href="advocacy-post/economic-inclusion-and-equality/index.html">Economic Equality and Inclusion</a></li>
<li id="menu-item-1135" class="menu-item menu-item-type-post_type menu-item-object-uc_advocacy menu-item-1135"><a href="advocacy-post/disability-royal-commission/index.html">Disability Royal Commission</a></li>
<li id="menu-item-1132" class="menu-item menu-item-type-post_type menu-item-object-uc_advocacy menu-item-1132"><a href="advocacy-post/a-just-australia/index.html">A Just Australia</a></li>
<li id="menu-item-1153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1153"><a href="advocacy/submissions/index.html">Submissions</a></li>
</ul> -->
                            </li>
                            <li id="menu-item-475"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-475">
                                <a href="/news">News<i class="far fa-angle-down"></i></a>
                                <!-- <ul class="sub-menu">
<li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148"><a href="news/index.html">Latest News</a></li>
<li id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a href="news/media-releases/index.html">Media Releases</a></li>
</ul> -->
                            </li>
                            <li id="menu-item-766"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-766"><a
                                    href="/contact-us">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="nav-button-container show-for-large">
                        <a href="/login-user" class="btn btn--highlight">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>